body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    height: 100%-10px;
    position: absolute;
    table-layout: fixed;
}
tr > th:first-of-type{
    height: 10px;
    width: 20px
}
table,th,td {
    border: 1px solid black
}

td.content-cell {
    align-content: start;
}
div.activity{
    background-color: rgba(0,255,0,0.2);
}
div.appointment.new{
    background-color: rgba(200,200,0,0.2);
}
ul{
    list-style: none;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
    unicode-bidi: isolate;
}
